### Network expansion (derived from R scripts)

In [1]:
# import igraph as ig
# from igraph import Graph
import pandas as pd
from nwe import annotation, astro

In [2]:
node_gwas = pd.read_csv("../data/gwas_nodes.csv")
gene_gwas = pd.read_csv("../data/gwas_gene-diseases.csv")
string = pd.read_csv("../data/STRINGv11_OTAR281119_FILTER_combined.csv")

In [3]:
node_gwas.head()

              ENSG  padj      gene
0  ENSG00000000003   NaN    TSPAN6
1  ENSG00000000005   NaN      TNMD
2  ENSG00000000419   NaN      DPM1
3  ENSG00000000457   NaN     SCYL3
4  ENSG00000000460   NaN  C1orf112

In [4]:
gene_gwas.head()

              gene       padj      disease
0  ENSG00000030110  51.990449  CHEBI_44185
1  ENSG00000113302  72.625345  CHEBI_44185
2  ENSG00000106025  67.881459  CHEBI_46195
3  ENSG00000143702  60.829306  CHEBI_46195
4  ENSG00000169760  65.462363  CHEBI_46195

In [5]:
string = string.rename(columns={"combined_score": "weight"})
string.head()

            ENSG_A           ENSG_B  weight
0  ENSG00000105135  ENSG00000100239       1
1  ENSG00000186628  ENSG00000157119       1
2  ENSG00000185418  ENSG00000109171       1
3  ENSG00000167987  ENSG00000138180       1
4  ENSG00000167987  ENSG00000165171       1

In [6]:
tmp = gene_gwas[['gene', 'disease']]
tmp = tmp.drop_duplicates()
dis = tmp.groupby(['disease'])['gene'].count().pipe(lambda  dfx: dfx.loc[dfx>1])

In [7]:
node_gwas = annotation(node_list=node_gwas, genes=gene_gwas, diseases=dis.index.to_list())

In [8]:
node_gwas.head()

              ENSG  padj      gene
0  ENSG00000000003     0    TSPAN6
1  ENSG00000000005     0      TNMD
2  ENSG00000000419     0      DPM1
3  ENSG00000000457     0     SCYL3
4  ENSG00000000460     0  C1orf112

In [9]:
# Expand interactome for single disease
expanded = astro(node_gwas, string, dis.index[10])
expanded.summary()

'IGRAPH UNW- 18410 571917 -- \n+ attr: gene (v), name (v), padj (v), weight (e)'